[id^=helios] .helios-button,
[id^=helios] .helios-secondary-button {
  display: inline-block;
  font-family: "Fidelity Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  cursor: pointer;
}

@media (min-width: 640px) and (max-width: 820px) {
  [id^=helios] .helios-button,
  [id^=helios] .helios-secondary-button {
    font-size: 16px;
  }
}
@media (max-width: 639px) {
  [id^=helios] .helios-button,
  [id^=helios] .helios-secondary-button {
    font-size: 14px;
  }
}
[id^=helios] .helios-button {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 0.25em;
  background-color: #568200;
  color: #fff !important;
  padding: 0.5em 1em;
  margin-top: 1.25em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

[id^=helios] .helios-button:hover, [id^=helios] .helios-button:focus {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none !important;
  cursor: pointer;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  outline: none !important;
  border-color: transparent;
}

[id^=helios] .helios-button:hover, [id^=helios] .helios-button:focus {
  background-color: #4f7800;
}

[id^=helios] .helios-secondary-button {
  color: #568200;
  margin-left: 16px !important;
}

[id^=helios] .helios-secondary-button:hover, [id^=helios] .helios-secondary-button:focus {
  text-decoration: underline;
  outline: none;
}